.services {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 30rem;
  margin-bottom: 8rem;
  margin-top: 4rem;
  margin-bottom: 13rem;
  /* scroll view */
  padding-top: 3rem;
}
/* left side */
.awesome {
  margin-top: -4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  /* gap: 20px; */
}

.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(2) {
  color: var(--green);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome  > :nth-child(3) {
  color: var(--gray);
  margin-top: 1rem;
}
.awesome > :nth-child(4) button{
  width:8rem;
  height: 2rem;
  margin-top: 2rem;
}

/* right sided */
.cards {
  position: relative;
}
.cards > * {
  position: absolute;
}
.cards > :nth-child(1) img{
  width: 110%;
  margin-top: -2rem;
  margin-bottom: -2rem;
}
.cards > :nth-child(3) img{
  width: 270%;
  margin-top: -4rem;
  margin-bottom: -5rem;
}
/* blur */
.s-blur2 {
  left: 14rem;
  top: 8rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
}

@media screen and (max-width: 480px) {
  .services {
    margin-top: -500px;
    flex-direction: column;
    gap: 5rem;
    height: 66rem;
    padding: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 17rem;
  }
  .cards > * {
    position: static;
  }
  .cards > :nth-child(1) img{
    margin-top: 0.2px;
    width:50%;
  }
  .cards > :nth-child(2) img{
    margin-top: -10px;
    width:60%;
  }
  .cards > :nth-child(3) img{
    margin-top: -20px;
    width:120%;
  }
}
