.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
}
.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}
.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.n-list > ul :hover {
  color: var(--green);
  cursor: pointer;
}

.n-button {
  flex: 2;
  width:100px;

}



 input[type=checkbox] {
  display: none;
}

 /* /HAMBURGER MENU/  */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  
} 
.ham-list{
  display: none;
}


@media screen and (max-width: 480px) {
  .n-list {
    display: none;

  }
 /* .n-list ul {
    gap:0.4rem;
    margin-left: -18.2rem;
    margin-top: 160px;
    padding-right: 100px;
    height:100%;
    width:50vw;
    line-height: 65px;
    align-items: center;
    font-size:20px;
    padding-left:40px;
    box-sizing:border-box;
} */
.ham-list{
  margin-top: 25vh;
  margin-left: -8rem;
  width:12vw
}
.ham-list ul{
line-height: 1.5rem;
margin-left: -6rem;

}
.ham-list > ul :hover {
  color: var(--green);
  cursor: pointer;
}
.n-wrapper{
 margin-bottom: 10rem;
}
input[type=checkbox]:checked ~.ham-list{
  display: block;
}

input[type=checkbox]:checked ~.hamburger{
  margin-right: 5rem;
}
.hamburger {
    display:block;
    margin-right: -0.74rem;
    
  }
input[type=checkbox]:checked ~.n-button{
    display: none;
  }
.n-button{
  margin-top: 8rem;
  margin-left: -16rem;
}
.n-left{
  margin-right: 18px;
}
}


/* a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #151719;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* //LOGO 
 .logo {
  font-size: 3rem;
  padding-left: 6rem;
}

//NAVBAR MENU
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu a:hover {
  color: #9697ed;
}

.menu li {
  padding: 5px 14px;
  font-size: 1.3rem;
}

input[type=checkbox] {
  display: none;
}

 /HAMBURGER MENU/ 
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
 //APPLYING MEDIA QUERIES 
@media (max-width: 768px) {
  .logo {
      padding-left: 0rem;
  }

  .menu {
      display: none;
      position: absolute;
      background-color: #151719;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
  }

  .menu li:hover {
      display: inline-block;
      color: #5658dd;
      transition: 0.3s ease;
  }

  .menu li+li {
      margin-top: 12px;

  }

  input[type=checkbox]:checked~.menu {
      display: block;
  }

  .hamburger {
      display: block;
  }

}  */
