.t-wrapper{
    padding:  0 3rem 0 3rem;;
    height: 105vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}
.t-heading{
    align-self: start;
}
.t-heading>*{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 12rem;
}
.t-heading span:nth-of-type(2){
    color: var(--green);
    margin-left: 0.07rem;
    font-size: 2rem;
}

.t-blur1{
    left: 38rem;
    top: 16rem;
}
.t-blur2{
    top: 9rem;
    left: 0;
}
.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    width: 28rem;
    height: 12rem;
    /* styles same as work.css */
    background: rgba(255, 255, 255, 0.26);
    border: 10px solid var(--blueCard);
    border-radius: 20px;
}
.testimonial>img{
    width: 32rem;
    height: 16rem;
}


/* slider */
.t-wrapper .swiper {
    width: 100%;
    height: 70%;
}

.t-wrapper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}
.t-wrapper .swiper-pagination-bullet{
    background: lightgreen;

}
.t-wrapper .swiper-pagination-bullet-active{
    background: var(--green);
}
.swiper-pagination{
    margin-bottom: -4px;
}
@media screen and (max-width: 480px){
    .t-wrapper{
        padding: 0;
        margin-top: 3rem;
    }

    .testimonial{
        margin-top: -5rem;
    }
    .testimonial>img{
        width: 123%;
        height: 134%;
    }
    .t-heading span:nth-of-type(1){
        margin-left: 55px;
    }
    .t-heading span:nth-of-type(2){
        margin-left: 55px;
    }
    .swiper-pagination{
        margin-bottom:14vw ;
    }
  }